<footer class="site-footer">
	<div class="footer">
		<span class="right" itemprop="publisher">&copy; <span itemprop="name">MockServer</span> {{ 'now' | date: "%Y" }}</span>
		<span class="left"><a href="{{ site.author.github }}" target="_blank" rel="noopener noreferrer" class="no_link">{{ site.author.name.full }}</a>
                <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="{{ site.author.name.full }}">
                    <meta itemprop="image" content="https://blog.jamesdbloom.com/jamesdbloom.jpg">
                    <meta itemprop="givenName" content="{{ site.author.name.given }}">
                    <meta itemprop="familyName" content="{{ site.author.name.family }}">
                    <meta itemprop="url" content="{{ site.author.github }}">
                </span>
        </span>
		<meta itemprop="name" content="{{ site.title }}">
		<meta itemprop="description" content="{{ site.description }}">
	</div>
	<script defer="defer"  src="/scripts/toggle_menu.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" integrity="sha384-RH2xi4eIQ/gjtbs9fUXM68sLSi99C7ZWBRX1vDrVv6GQXRibxXLbwO2NGZB74MbU" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/groovy.min.js" integrity="sha384-Tm1Og6d1FV5GOFgkfZWi7DcSeMEA05xEeZfifgFC5IH6xxfoXwg5PaNNxrX4yinC" crossorigin="anonymous"></script>
    <script defer src="/scripts/highlight_adapter.js"></script>
    <script defer="defer"  src="/scripts/accordion.js"></script>
</footer>
