<a id="template_restriction_configuration" class="anchor" href="#template_restriction_configuration">&nbsp;</a>

<h2>Template Restriction Configuration:</h2>

<button id="button_configuration_disable_classes_in_javascript_templates" class="accordion title"><strong>Disable classes in javascript templates</strong></button>
<div class="panel title">
    <p>Set comma separate list of classes not allowed to be used by javascript templates</p>
    <p>Type: <span class="keyword">string</span> Default: <span class="this_value">""</span></p>
    <p>Java Code:</p>
    <pre class="prettyprint lang-java code"><code class="code">ConfigurationProperties.javascriptDisallowedClasses(String javascriptDisallowedClasses)</code></pre>
    <p>System Property:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.javascriptDisallowedClasses=...</code></pre>
    <p>Environment Variable:</p>
    <pre class="code" style="padding: 2px;"><code class="code">MOCKSERVER_JAVASCRIPT_DISALLOWED_CLASSES=...</code></pre>
    <p>Property File:</p>
    <pre class="code" style="padding: 2px;"><code class="code">mockserver.javascriptDisallowedClasses=...</code></pre>
    <p>Example:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.javascriptDisallowedClasses="java.lang.Runtime,java.lang.Class"</code></pre>
</div>

<button id="button_configuration_restrict_content_allowed_in_javascript_templates" class="accordion title"><strong>Restrict content allowed in javascript templates</strong></button>
<div class="panel title">
    <p>Set comma separate list of text not allowed to be contained in javascript templates</p>
    <p>Type: <span class="keyword">string</span> Default: <span class="this_value">""</span></p>
    <p>Java Code:</p>
    <pre class="prettyprint lang-java code"><code class="code">ConfigurationProperties.javascriptDisallowedText(String javascriptDisallowedText)</code></pre>
    <p>System Property:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.javascriptDisallowedText=...</code></pre>
    <p>Environment Variable:</p>
    <pre class="code" style="padding: 2px;"><code class="code">MOCKSERVER_JAVASCRIPT_DISALLOWED_TEXT=...</code></pre>
    <p>Property File:</p>
    <pre class="code" style="padding: 2px;"><code class="code">mockserver.javascriptDisallowedText=...</code></pre>
    <p>Example:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.javascriptDisallowedText="getRuntime().exec"</code></pre>
</div>

<button id="button_configuration_javascript_template_execution_timeout" class="accordion title"><strong>JavaScript template execution timeout</strong></button>
<div class="panel title">
    <p>Maximum time in milliseconds a JavaScript response template is allowed to run before it is cancelled. A runaway or malicious template (for example one containing an infinite loop) would otherwise pin the worker thread handling that request indefinitely; this cap aborts the evaluation with a clear timeout error instead, so the request fails fast and the thread is freed.</p>
    <p>The default of <code>5000</code> (5 seconds) is far longer than any legitimate template needs &mdash; a normal template evaluates in well under a second &mdash; so it will not affect real templates. Increase it only if you run unusually heavy templates, or set it to <code>0</code> (or a negative value) to disable the timeout entirely and restore the previous unbounded behaviour.</p>
    <p>Type: <span class="keyword">long</span> Default: <span class="this_value">5000</span></p>
    <p>Java Code:</p>
    <pre class="prettyprint lang-java code"><code class="code">ConfigurationProperties.javascriptTemplateExecutionTimeout(long millis)</code></pre>
    <p>System Property:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.javascriptTemplateExecutionTimeout=...</code></pre>
    <p>Environment Variable:</p>
    <pre class="code" style="padding: 2px;"><code class="code">MOCKSERVER_JAVASCRIPT_TEMPLATE_EXECUTION_TIMEOUT=...</code></pre>
    <p>Property File:</p>
    <pre class="code" style="padding: 2px;"><code class="code">mockserver.javascriptTemplateExecutionTimeout=...</code></pre>
    <p>Example:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.javascriptTemplateExecutionTimeout="2000"</code></pre>
</div>

<button id="button_configuration_disable_class_loading_in_velocity_templates" class="accordion title"><strong>Disable class loading in velocity templates</strong></button>
<div class="panel title">
    <p>If true class loading is not allowed in velocity templates</p>
    <p>Type: <span class="keyword">boolean</span> Default: <span class="this_value">false</span></p>
    <p>Java Code:</p>
    <pre class="prettyprint lang-java code"><code class="code">ConfigurationProperties.velocityDisallowClassLoading(boolean velocityDisallowClassLoading)</code></pre>
    <p>System Property:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.velocityDisallowClassLoading=...</code></pre>
    <p>Environment Variable:</p>
    <pre class="code" style="padding: 2px;"><code class="code">MOCKSERVER_VELOCITY_DISALLOW_CLASS_LOADING=...</code></pre>
    <p>Property File:</p>
    <pre class="code" style="padding: 2px;"><code class="code">mockserver.velocityDisallowClassLoading=...</code></pre>
    <p>Example:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.velocityDisallowClassLoading="true"</code></pre>
</div>

<button id="button_configuration_restrict_content_allowed_in_velocity_templates" class="accordion title"><strong>Restrict content allowed in velocity templates</strong></button>
<div class="panel title">
    <p>Set comma separate list of text not allowed to be contained in velocity templates</p>
    <p>Type: <span class="keyword">string</span> Default: <span class="this_value">""</span></p>
    <p>Java Code:</p>
    <pre class="prettyprint lang-java code"><code class="code">ConfigurationProperties.velocityDisallowedText(String velocityDisallowedText)</code></pre>
    <p>System Property:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.velocityDisallowedText=...</code></pre>
    <p>Environment Variable:</p>
    <pre class="code" style="padding: 2px;"><code class="code">MOCKSERVER_VELOCITY_DISALLOWED_TEXT=...</code></pre>
    <p>Property File:</p>
    <pre class="code" style="padding: 2px;"><code class="code">mockserver.velocityDisallowedText=...</code></pre>
    <p>Example:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.velocityDisallowedText="request.class"</code></pre>
</div>
    
<button id="button_configuration_restrict_content_allowed_in_mustache_templates" class="accordion title"><strong>Restrict content allowed in mustache templates</strong></button>
<div class="panel title">
    <p>Set comma separate list of text not allowed to be contained in mustache templates</p>
    <p>Type: <span class="keyword">string</span> Default: <span class="this_value">""</span></p>
    <p>Java Code:</p>
    <pre class="prettyprint lang-java code"><code class="code">ConfigurationProperties.mustacheDisallowedText(String mustacheDisallowedText)</code></pre>
    <p>System Property:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.mustacheDisallowedText=...</code></pre>
    <p>Environment Variable:</p>
    <pre class="code" style="padding: 2px;"><code class="code">MOCKSERVER_MUSTACHE_DISALLOWED_TEXT=...</code></pre>
    <p>Property File:</p>
    <pre class="code" style="padding: 2px;"><code class="code">mockserver.mustacheDisallowedText=...</code></pre>
    <p>Example:</p>
    <pre class="code" style="padding: 2px;"><code class="code">-Dmockserver.mustacheDisallowedText="request.method"</code></pre>
</div>